@model Tuple<CorePlatform.Models.CabinetModels.CabinetController, CorePlatform.Models.CabinetModels.Cabinet>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CabinetController</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Nickname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.Nickname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Hostname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.Hostname)
        </dd>
        <dt>
            Cabinet Identifier
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item2.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Item1.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
